<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","theme":"wens-travel-expanse","area":"header"} /-->

    <!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
    <main class="wp-block-group alignfull">
        <!-- wp:pattern {"slug":"wens-travel-expanse/main-banner"} /-->
        <!-- wp:pattern {"slug":"wens-travel-expanse/destination"} /-->
        <!-- wp:pattern {"slug":"wens-travel-expanse/about"} /-->
        <!-- wp:pattern {"slug":"wens-travel-expanse/package"} /-->
        <!-- wp:pattern {"slug":"wens-travel-expanse/testimonial"} /-->
        <!-- wp:pattern {"slug":"wens-travel-expanse/latest-blog"} /-->
    </main>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"wens-travel-expanse","area":"footer"} /--></div>
    <!-- /wp:group -->