<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","theme":"travel-master-fse","area":"header"} /-->

	<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0rem","bottom":"90px"}},"color":{"background":"#e6e6e6"}},"layout":{"type":"constrained"}} -->
	<main class="wp-block-group has-background" style="background-color:#e6e6e6;padding-top:0rem;padding-bottom:90px"><!-- wp:cover {"overlayColor":"contrast","isUserOverlayColor":true,"minHeight":300,"align":"full","style":{"spacing":{"margin":{"bottom":"50px"},"blockGap":"0","padding":{"top":"100px"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-cover alignfull" style="margin-bottom:50px;padding-top:100px;min-height:300px"><span aria-hidden="true" class="wp-block-cover__background has-contrast-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"62px","fontStyle":"normal","fontWeight":"400"}},"fontFamily":"mulish"} -->
	<h2 class="wp-block-heading has-text-align-center has-mulish-font-family" style="font-size:62px;font-style:normal;font-weight:400">Oops! That page can't be found.</h2>
	<!-- /wp:heading --></div></div>
	<!-- /wp:cover -->
	
	<!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"20rem"}}} -->
	<p class="has-text-align-center" style="font-size:20rem">404</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:search {"label":"Search","showLabel":false,"width":100,"widthUnit":"%","buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true,"align":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"border":{"radius":"0px","color":"#00afe9","width":"1px"},"color":{"background":"#bcbcbc"}},"textColor":"base"} /--></main>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","theme":"travel-master-fse","area":"footer"} /--></div>
	<!-- /wp:group -->