<!-- wp:template-part {"slug":"header","theme":"travel-master-fse","area":"header"} /-->

<!-- wp:group {"align":"full","style":{"spacing":{"blockGap":"0px","margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignfull" style="margin-top:0px;margin-bottom:0px">
    <!-- wp:pattern {"slug":"travel-master-fse/main-banner"} /-->
    <!-- wp:pattern {"slug":"travel-master-fse/popular-trips"} /-->
    <!-- wp:pattern {"slug":"travel-master-fse/about"} /-->
    <!-- wp:pattern {"slug":"travel-master-fse/service"} /-->
    <!-- wp:pattern {"slug":"travel-master-fse/latest-posts"} /-->
    <!-- wp:pattern {"slug":"travel-master-fse/call-to-action"} /-->
</div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"travel-master-fse","area":"footer"} /-->